.home-category-post {
    padding: 0 8px;
    background-color: white;
    display: inline-block;
    border-radius: 12px;
}

.home-post-text {
    &__title {
        @include truncatingtxt(2);
    }
    &__info {
        display: flex;
        align-items: center;
    }
    .user {
        @include flexbox(start, center);
        margin-right: 16px;
        img {
            display: none;
            margin-right: 8px;
            @include box(35px);
            border-radius: 50%;
        }
    }
    .date {
        line-height: 35px;
    }
}

.home-big-post {
    background: radial-gradient(rgba(255, 255, 255, 0) 20%, black);
    @include flexbox(space-between, start, column);
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    &__img {
        padding: 40% 0;
        background: no-repeat center center;
        background-size: cover;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
    }

    &__text {
        color: white;
        position: absolute;
        bottom: 24px;
        padding: 0 24px;
    }

    &__category {
        position: absolute;
        top: 24px;
        left: 24px;
    }

    @include screen(tablet) {
        margin-bottom: 8px;
    }

    @include screen(mobile) {
        margin: 0px 8px;
    }
}

.home-post {
    &__img {
        background: no-repeat center center;
        background-size: cover;
        padding: 35% 0;
        border-radius: 12px;
    }
    &__category {
        background-color: $graybg;
        margin-top: 24px;
        margin-bottom: 8px;
    }
    &__text {
        color: $txt;
        img {
            display: none !important;
        }
    }

    @include screen(mobile) {
        margin: 24px 8px;
    }
}

.home-list-post {
    &__text {
        img {
            display: none !important;
        }
    }

    &__title {
        margin-right: 8px;
    }
    &__item {
        @include flexbox(space-between, center);
        margin: 16px 0;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &-text {
            flex: 1;
            margin-left: 8px;
        }
        &__img {
            @include box(96px);
            border-radius: 12px;
        }
        &__info {
            .user {
                img {
                    display: none;
                }
            }
        }
    }

    @include screen(mobile) {
        &__item {
            margin: unset 8px;
            padding: 0 8px;
        }
    }
}
