.product {
    position: relative;
    padding: 16px;
    padding-bottom: 20px;
    border-radius: 12px;
    border: 1px solid $grayborder;
    box-shadow: 0 0 5px $primarycolor;

    &__img {
        background: no-repeat center center;
        background-size: cover;
        padding: 45% 0;
        border-radius: 12px;
    }
    &__text {
        margin-top: 16px;
    }
    &__info {
        margin-top: 16px;
        @include flexbox(space-between);
    }

    &__price {
        &-old {
            color: gray;
            text-decoration: line-through;
        }
    }
    .sale {
        position: absolute;
        top: 28px;
        left: 36px;
    }

    &:hover {
        top: -2px;
        box-shadow: 0 0 10px $primarycolor;
    }

    @include screen(mobile) {
        margin: 0 8px 8px;
    }

    @include screen(tablet) {
        margin: 8px 0;
    }
}

@keyframes scale {
    to {
        transform: scale(0.2);
    }
}
